#tasks:hover {
    transform: scale(1.01);
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes titleAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

  .title-animation {
    animation: titlePulse 2s infinite;
  }
  
.title-container {
    background: linear-gradient(135deg, #fbd100, #ff4e00);
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out; 
    cursor: pointer; 
  }
  
  
  .title-text {
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  }
  
 
  .title-container:hover {
    transform: scale(1.05); 
  }

  .error-message.show-error {
    color: white;
  }

  .show-error {
    display: block; 
  }


  
.tasks-header {
    position: relative; 
  }
  
  
  .tasks-header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #007bff; 
    transform: scaleX(0); 
    transform-origin: bottom right;
    transition: transform 0.6s ease-in-out;
  }
  
  
  .tasks-header:hover::after {
    transform: scaleX(1); 
  }

 
.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  
  .input-field {
    flex-grow: 1;
    border: none;
    border-radius: 8px;
    padding: 10px;
  }
  
  
  .btn-add-task {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  
 
  .btn-add-task:hover {
    transform: scale(1.1); 
    color: #28a745; 
  }
  
 
  .input-container:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  
.border-outline {
    border: 2px solid #007bff; 
    border-radius: 8px; 
  }

  
.border-rounded {
    border: 2px solid #007bff; 
    border-radius: 20px; 
    width: 70%; 
  }
  
  
  .btn-add-task {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  
 
  .btn-add-task:hover {
    transform: scale(1.1); 
    color: #28a745; 
  }

  
 
.error-message {
    display: none;
    text-align: center;
    background-color: #ff0000; 
    color: #fff; 
    border-radius: 8px;
    padding: 8px;
    margin-top: 8px;
  }
  
  
  .show-error {
    display: block;
  }


.input-field {
    resize: none;
    overflow-x: hidden;
    min-width: 100px; 
    max-width: 400px; 
    width: auto; 
  }
  
  
  .error-message {
    margin-top: 8px;
    text-align: center;
    color: red;
    display: none; 
  }
  

  .show-error {
    display: block;
  }

  
  .grow-horizontally {
    width: 100%; 
    max-width: none;
  }
  
  
  
  
  
  
  
  
  
  